<link rel="stylesheet" href="css/site.css"> 
<img src="/img/Logo-Pasqu.jfif">
<h1>Bienvenido a Series para Enanos</h1>
<!--Card-->
@foreach (var item in ViewBag.mostraSerie)
{
  <div class="card" style="width: 18rem;">
    <img src="/img/Logo-Pasqu.jfif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">@item.Nombre</h5>
      <p class="card-text">@item.Sinopsis</p>
      <button type="buttom" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalTemporada" onclick="MostrarTemporadas(@item.IdSerie)">Temporadas</button>        
      <button type="buttom" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalTemporada" onclick="MostrarActores(@item.IdSerie)">Actores</button>
      <button type="buttom" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalTemporada" onclick="MostrarSerie(@item.IdSerie)">Mas Info</button>
    </div>
  </div>
}

<!--Fin Card-->
<!--Modal-->
<div class="modal" id="ModalTemporada" tabindex="-1" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="" alt="" id="ImagenSerie">
        <div class="modal-body">
          <p id="Temporadas"></p>
          <p id="Nombre"></p>
          <P id="AñoInicio"></P>
          <p id="Sinopsis"></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--Fin Modal-->

